<button (click)="fetchTemplate('168855A0-AF6D-4378-467A-08D8089277C7')">Fetch Template</button>
<div id='form-boundary' #formBoundary>
    <div class="textForm form-template" *ngFor="let form of textElements" [style.width.px]="form.width"
        [style.height.px]="form.height" [style.top.px]="form.y" [style.left.px]="form.x" [id]="form.formTemplateId">
        <textarea class="textarea">This is a loaded template</textarea>
    </div>
    <div class="title-box titleForm form-template" *ngFor="let form of titleElements" [style.width.px]="form.width"
        [style.height.px]="form.height" [style.top.px]="form.y" [style.left.px]="form.x" [id]="form.formTemplateId">
        <input type="text" class="textarea" [placeholder]="form.title" />
    </div>
</div>