<input [(ngModel)]="templateId" placeholder="Enter Template Id"/>
<button (click)="fetchTemplate()">Fetch Template</button>
<button (click)="saveNewSheet()">Save Sheet</button>
<div id='form-boundary' #formBoundary>
    <div class="title-box text-form form-template" *ngFor="let form of textElements" [style.width.px]="form.width"
        [style.height.px]="form.height" [style.top.px]="form.y" [style.left.px]="form.x" [id]="form.formTemplateId">
        <textarea class="textarea">THIS IS PLACEHOLDER</textarea>
    </div>
    <div class="title-box title-form form-template" *ngFor="let form of titleElements" [style.width.px]="form.width"
        [style.height.px]="form.height" [style.top.px]="form.y" [style.left.px]="form.x" [id]="form.formTemplateId">
        <span>{{form.title}}</span>
    </div>
</div>