/* You can add global styles to this file, and also import other style files */

/*Drag box css set up this can be tweaked as much as you would like */

.form-template {
  width: 200px;
  height: 65px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px #800000;
  display: inline-flex;
  background: #dee5ff;
  z-index: 1;
  position: absolute;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#form-boundary {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  max-width: 60%;
  border: solid #800000 2px;
  background: #e2d7b9;
}

.drag-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.box-handle {
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.textarea {
  border: 0 none;
  margin: 0;
  color: #000000;
  outline: 0 none;
  background: #dee5ff;
  width: 100%;
  padding: 10px;
}

/*End of drag box set up*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*Resizable CSS layout
    general resizing
*/

.textarea, .form-title {
  resize: none;
  box-sizing: border-box;
}

.form-title {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.form-area {
  width: 100%;
}

.form-template>.textarea:first-child {
  height: 100%;
}

.form-area>.form-title::before {
  content: "\A";
}