<div>
  <label>Default Height:</label><input [(ngModel)]="height" /><br>
  <label>Default Width:</label><input [(ngModel)]="width" />
</div>
<select [(ngModel)]="type" id="type-selection">
  <option *ngFor="let type of formTypes" [value]="type.value">{{type.name}}</option>
</select>
<input *ngIf="type==='inputs-form'" [(ngModel)]="count" placeholder="Number of Inputs" />
<button class="btn" (click)="createItem()">Create New Item</button>
<br>
<input [(ngModel)]="nameInput" placeholder="Enter Template Name">
<button class="btn" (click)="saveTemplate()">Save Template</button>

<div id='form-boundary' #formBoundary>

  <div class="drag-box inputs-form form-template" *ngFor="let form of inputsElements" cdkDragBoundary="#form-boundary"
    cdkDrag [style.width.px]="form.width" [style.height.px]="form.height">
    <div class="form-area">
      <input class="form-title" placeholder="Form Title" />
      <div class="input-area">
        <ul class="input-container">
          <li *ngFor="let input of form.inputs" class="input-row">
            <div class="form-label"><input placeholder="Input Label"></div><div class="form-input"><span>This is placeholder text
              content.</span></div>
          </li>
        </ul>
      </div>
      <div class="box-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
          </path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
    </div>
  </div>

  <div class="drag-box title-text-form form-template" *ngFor="let form of titleTextElements"
    cdkDragBoundary="#form-boundary" cdkDrag [style.width.px]="form.width" [style.height.px]="form.height">
    <div class="form-area">
      <input class="form-title" placeholder="Form Title" />
      <textarea class="textarea" disabled>This is placeholder text content.</textarea>
    </div>
    <div class="box-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>

  <div class="drag-box text-form form-template" *ngFor="let form of textElements" cdkDragBoundary="#form-boundary"
    cdkDrag [style.width.px]="form.width" [style.height.px]="form.height">
    <textarea class="textarea" disabled>This is placeholder text content.</textarea>
    <div class="box-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>

  <div class="drag-box title-form form-template" *ngFor="let form of titleElements" cdkDragBoundary="#form-boundary"
    cdkDrag [style.width.px]="form.width" [style.height.px]="form.height">
    <input type="text" class="form-title" placeholder="Form Title" />
    <div class="box-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
        </path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div>

</div>